<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="js/socket.io.min.js"></script>
    <script type="text/javascript" src="js/app.js?{{ uuid }}"></script>
    <link rel="stylesheet" href="css/style.css?{{ uuid }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=0.5, minimum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
    <h1>Frangitron DMX</h1>

    {{ programs_table|safe }}

    <hr>

    <table class="footer">
        <tr>
            <td width="300px"><b><span id="latency"></span> ms</b> <i>(<span id="latency-avg"></span> ms avg)</i></td>
            <td><form id="disconnect" method="POST" action="#"><input type="submit" value="Disconnect"></form></td>
        </tr>
    </table>
</body>
</html>
