<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="js/socket.io.min.js"></script>
    <script type="text/javascript" src="js/app.js?{{ uuid }}"></script>
    <link rel="stylesheet" href="css/style.css?{{ uuid }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=0.8, minimum-scale=0.8, user-scalable=no, minimal-ui">
</head>
<body>
    <h1>Frangitron DMX</h1>

    {{ programs_table|safe }}

    <hr>

    <table>
        <tr>
            <td><button onclick="location.reload();" class="footer">Refresh</button></td>
            <td class="footer">http://{{ ip_address }}:5000/</td>
            <td><form method='POST' action='#'><input id='reload-programs' type='submit' value='Reload programs' class="footer"></form></td>
        </tr>
        <tr>
            {{ footer|safe }}
        </tr>
    </table>
</body>
</html>
